<% if session[:session_id] %>
  <%= javascript_tag "alert('Test Session ID: #{session[:session_id]}');" %>
<% end %>

<%= render(:partial => "shared/recommended_articles", :locals => {:articles => @articles}) %>

<div class="header">
  <div class="title">Articles</div>
</div>

<% @articles.each do |article| %>
  <div style="padding-bottom:11px;">
    <p>
      <%= link_to article.title,  article %>
    </p>
    <p>
      <%= link_to "#{article.title} (Standard version)", "#{article_path(article)}?standard=true" %>
    </p>
  </div>
<% end %>