<div class="header">
  <div class="title">Add an article</div>
</div>
<div class="upper">
  <div class="entry">
    <div class="label">Title</div>
    <div class="caption">The article's title, e.g. "U.S. Climate Has Already Changed, Study Finds, Citing Heat and Floods"</div>
    <input type="text" name="title">
  </div>
  <div class="entry">
    <div class="label">Subtitle</div>
    <div class="caption">The article's subheading. Feel free to leave this blank.</div>
    <input type="text" name="subtitle">
  </div>
  <div class="entry">
    <div class="label">Author</div>
    <div class="caption">The first and last name of the article's author</div>
    <input type="text" name="author">
  </div>
  <div class="entry" style="border-top:solid 1px rgba(0,0,0,0.15);padding-top:22px;margin-top:28px;">
    <div class="label">Primary Image URL</div>
    <div class="caption">The article's primary image. This will be displayed above the article.</div>
    <input type="text" name="main_image_url">
  </div>
  <div class="entry">
    <div class="label">Caption</div>
    <div class="caption">This is the caption for the primary image, e.g. "California Chrome edges Ride On Curlin to win the Preakness Stakes."</div>
    <textarea class="caption" name="main_caption"></textarea>
  </div>
  <div class="entry">
    <div class="label">Attribution</div>
    <div class="caption">This is the attribution for the primary image, e.g. "Matt Roth for The New York Times"</div>
    <textarea class="attribution" name="main_attribution"></textarea>
  </div>
</div>
<div class="section">
  <% 3.times do |current|%>
  <div class="entry head">
    <% case current
       when 0 %>
       <h2>short</h2>
       <div class="caption">
         <p>
           The short version of a section should state the main idea in one sentence,
           or two, if absolutely necessary.
         </p>
      </div>
    <% when 1 %>
       <h2>medium</h2>
       <div class="caption">
         <p>
           The medium version of a section should be a compact, complete summary of the
           entire section. It should convey only the details that you deem <em>most</em>
           important.
         </p>
        </div>
    <% when 2 %>
       <h2>long</h2>
       <div class="caption">
         <p>
           The long version of a section is the section in its unedited form. Just
           copy and paste or re-type it here as is.
         </p>
      </div>
    <% end %>
  </div>
  <% end %>
  
  <div class="clear"></div>
  
  <% 3.times do |current|%>
  <div class="entry body">
    <textarea class="entry-textarea" size="<%= current %>"></textarea>
  </div>
  <% end %>
  
  
  <div class="clear"></div>
</div>


<div class="button">
  <a id="add-section" href="#">Add section</a>
</div>
<div class="button">
  <a id="submit-article" href="#">Submit</a>
</div>

<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
  var deleteHTML = '<div class="delete-section"><a href="#">Delete this section</a></div>'
  $(document).ready(function() {
  
    section_html = $($('.section')[0]).clone(false);
  
    CKEDITOR.config.width = window.innerWidth/3.6 + 'px';
    $('.section .entry').width(CKEDITOR.config.width);
    // replace textareas with CKEditors
    var t = $('.entry-textarea');
    for(var i=0;i<t.length;i++) {
      CKEDITOR.replace(t[i]);
    }
  
    // http://stackoverflow.com/questions/7203304/warning-cant-verify-csrf-token-authenticity-rails
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
    
    
    function delete_section(e) {
      e.preventDefault();
        var d = confirm('Are you sure you want to delete this section?');
        if(d) {
          $(this).parents('.section').remove();
        }
    }
    $('#add-section').click(
      function(e) {
        e.preventDefault();
        var sections = $('.section');
        var new_section = section_html.clone();
        new_section.append($(deleteHTML).click(delete_section));
        $(sections[sections.length-1]).after(new_section);
        
        // replace each new text area with a CKEditor
        var textareas = new_section.find('.entry-textarea');
        console.log(textareas);
        for(var i=0;i<textareas.length;i++) {
          CKEDITOR.replace(textareas[i]);
        }
        $('.section .entry').width(CKEDITOR.config.width );
    });
    
    /* ------------------
     * Collect the sections into a single array
     * to post to the server */
    $('#submit-article').click(
      function(e) {
        e.preventDefault();
        
        var editor = 1;
        
        var sections = [];
        var sections_good = true;
        $('.section').each(
          function(index) {
            var section = {
              'order': index,
              'short': CKEDITOR.instances['editor' + editor].getData(), // $(this).find('textarea[size="0"]').val(),
              'medium': CKEDITOR.instances['editor' + (editor + 1)].getData(), // $(this).find('textarea[size="1"]').val(),
              'long': CKEDITOR.instances['editor' + (editor + 2)].getData(), // $(this).find('textarea[size="2"]').val()
            }
            
            editor += 3;
            
            for(var key in section) {
              if(key == 'order') continue;
              if(!section[key] || $.trim(section[key]) == '') {
                alert('You left a section blank!');
                
                sections_good = false;
                return;
              }
            }
            sections.push(section);
      });
      
      // if any sections were invalid
      if(!sections_good) return;
        
      var data = {
        title: $('input[name="title"]').val(),
        subtitle: $('input[name="subtitle"]').val(),
        author: $('input[name="author"]').val(),
        main_image_url: $('input[name="main_image_url"]').val(),
        main_caption: $('textarea[name="main_caption"]').val(),
        main_attribution: $('textarea[name="main_attribution"]').val(),
        sections: sections
      };
      
      for(var key in data) {
        if(!data[key] || $.trim(data[key]) == '') {
          if(key == "subtitle") {
            data[key] = '';
            continue;
          }
          alert('You left the ' + key.replace('_', ' ') + ' field blank!');
          return;
        }
      }
      
      $.ajax({
        url: '/articles',
        type: 'POST',
        data: data,
        success: function(response) {
          console.log(response);
          window.location.replace(response.redirect);
        },
        error: function(request, status, error) {
          console.log('Error sending post');
          console.log(request);
          console.log(status);
          console.log(error);
          alert('Couldn\'t post the article for some reason. Check the console for more info');
        }
      });
    });
  });
</script>