<div class="social">
  <div class="tier">
    <div class="icon email"></div>
    <div class="text">email</div>
    <div class="clear"></div>
  </div>
  <div class="tier">
    <div class="icon facebook"></div>
    <div class="text">facebook</div>
    <div class="clear"></div>
  </div>
  <div class="tier">
    <div class="icon twitter"></div>
    <div class="text">twitter</div>
    <div class="clear"></div>
  </div>
  <div class="tier">
    <div class="icon save"></div>
    <div class="text">save</div>
    <div class="clear"></div>
  </div>
  <div class="tier last">
    <div class="icon more"></div>
    <div class="text">more</div>
    <div class="clear"></div>
  </div>
</div>