<div class="header">
  <div class="title">Articles</div>
</div>

<% @articles.each do |article| %>
  <div style="padding-bottom:11px;">
    <p>
      <a href="/article/<%= article.id %>"><%= article.title %></a>
    </p>
    <p>
      <a href="/article/<%= article.id %>?standard=true"><%= article.title %>
      (Standard version)</a>
    </p>
  </div>
<% end %>